.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carte{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;

padding-left: 35x;
padding-top: 30px;
padding:40px;
}

.red{
  color:rgb(158, 85, 146);
  font-size: 25px;
  font-weight: 600;
 
}
.App{
  background-color: white;
}
.search{
  
  width: 220px;
  height: 30px;
 border-radius: 10%;
 border: solid rgb(68, 68, 175) ;
 color: rgb(27, 27, 77);
 background-color: transparent;
}
.head{
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
header{
  display: flex;
}
.B{
 background-color: white;
 border-radius: 30%;
 border:rgb(27, 27, 77) 100px;
}

.tit{
  display: flex;
  margin-top: 10px;
}
.mod{
  height: 100px;
  width: 100 px;
  padding-top: 20px;
}
.in{
margin-left: 100px;
width: 300px;
}
.in1{
  margin-left: 49px;
  width: 300px;
  }
  .H{
    margin-left: 83px;
    width: 300px;
  }
  .V{
    margin-left: 86px;
    width: 300px;
  }
 
.I{
 padding-left: 0px;
}
.trailer{
  display: flex;
  flex-direction: column;
}
.bb{
  border: rgb(190, 158, 109);
  margin-top: 10px;
  background-color: rgb(195, 204, 199);
}
.trai{
  margin-top: 20px;
  background-color: rgb(220, 226, 228);
}
.rd{
  margin-top: 30px;
  background-color: rgb(235, 239, 240);
  height: 600px;
}
.pg{
  height: 100px;
  width: 1000px;
  font-size: 20px;
  padding-left:400px;
 font-family:inherit;
 font-weight: 500;
}

.t{
  color:rgb(9, 117, 121);
  padding-top: 20px;
  padding-bottom: 20px;
}
 .b{
   background-color: rgb(103, 177, 182);;
   border: none;
   width: 100px;
   height: 30px;
 font-weight: 700;
 margin-top: 20px;

 }

 .App{
   background-color: rgb(224, 229, 231);
 }
 .h{color:rgb(9, 117, 121);
 }